.btn-my{
    background-color:$theam;
    color:white;
    margin:2px;
    padding:3px 10px; 
}

.close-button{
    position:absolute; 
    right:10px; 
    top:10px; 
    z-index:1;
    text-shadow: 0 0 20px black;
}