
.white{
    color:white;
}

.white_bckgr{
    background-color: white;
}

// for coloring icons
.theam-color{
    color:$theam;
}

.light-background{
    background-color:$background;
}

.post_background{
    background-color:lighten($theam, 10%);
    border-radius: 10px;
}

.grey{
    background-color: #333;
}
