// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap');

// partials
@import 'variables';
@import 'colors';
@import 'buttons';
@import 'images';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color:$theam;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

nav {
    div{
        color:white;
    }
}

body{
    background-color:$background;
}

a:hover{
    opacity: 80%;
}

a{
    font-size: small;
}

.app_name{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

.topnav-item:hover{
    background-color: $background;
    border-radius: 50%;
    i{
        color:$theam;
    }
}
